<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | Opeyemi Ibrahim</title>
  <meta name="description" content="Opeyemi Ibrahim is a software developer, writer and coffe enthusiast currently residing in Lagos, Nigeria">

  <meta name="keyword" content="Software Developer, developer, Developer in Lagos, Back end developer, Mobile developer, web development, software development, web designer, software developer in lagos, lagos developer, nigeria based developer" >

  <link rel="stylesheet" href="/assets/style.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Opeyemi Ibrahim" href="/feed.xml">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/image/favicon.ico">

  
  
</head>
<body>